.body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.headerBorder {
  border-radius: 20px;
  box-shadow: 0 0 0 4px #fc46a8, 0 0 0 8px #fff9c5, 0 0 0 12px #fc46a8;
  text-align: center;
  min-width: 25%;
}

.headerText {
  margin: 20px 0px;
  font-size: 30px;
  color: #fff;
}

.number {
  border: #ff2b9d solid 3px;
  border-radius: 8px;
  background-color: #fddde6;
  font-size: 50px;
  color: black;
  margin: 3% 2%;
  padding: 1% 2.5%;
  box-shadow: inset -8px -8px #8a0063, inset 2px 2px #8a0063;
  min-width: 70px;
  min-height: 70px;
}

.number:disabled {
  border: gray solid 3px;
  border-radius: 8px;
  background-color: lightgray;
  font-size: 50px;
  color: white;
  margin: 3% 2%;
  padding: 1% 2.5%;
  box-shadow: none;
}

.number:hover:enabled,
.operatorBtn:hover {
  background-color: #eb91ae;
  box-shadow: inset -8px -8px #eb91ae;
}

.numbtnArea {
  text-align: center;
}

.answer {
  font-size: 35px;
  color: black;
  margin-left: 0%;
  text-align: center;
  display: inline;
  letter-spacing: 10px;
  line-height: 50px;
}

.anstxt {
  text-align: center;
  font-size: 45px;
  margin-bottom: 5px;
  -webkit-text-fill-color: #ffc4e4;
  -webkit-text-stroke: 3px #ff2b9d;
}

.inputBorder {
  background-color: #ffebf6;
  box-shadow: 0 0 0 4px #fc46a8, 0 0 0 12px #ffc4e3, 0 0 0 16px #fc46a8;
  text-align: center;
  margin: 30px 10% 30px 10%;
  padding: 1px 0px;
  min-height: max-content;
}

.operatorBtn {
  border: #ff2b9d solid 3px;
  border-radius: 8px;
  background-color: #fddde6;
  color: black;
  margin: 1% 2%;
  padding: 2% 3%;
  font-weight: bold;
  font-size: 30px;
  box-shadow: inset -8px -8px #8a0063, inset 2px 2px #8a0063;
  min-width: 70px;
  min-height: 70px;
}

.opArea {
  text-align: center;
  margin-bottom: 30px;
}

.executionContainer {
  display: flex;
  justify-content: center;
}
.skipBorder {
  box-shadow: 0 0 0 4px #fc46a8, 0 0 0 12px #ffc4e3, 0 0 0 16px #fc46a8;
  text-align: center;
  margin: 0px 22px;
}

.skip {
  font-size: 30px;
  color: #ffbbeb;
  text-align: center;
  border-width: 0px;
  padding: 10px;
  background-color: #fff;
  height: 100%;
  -webkit-text-fill-color: #ffc4e4;
  -webkit-text-stroke: 3px #ff2b9d;
  letter-spacing: 3px;
}

.skip:hover {
  background-color: #fee8f8;
}

.submitBorder {
  box-shadow: 0 0 0 4px #fc46a8, 0 0 0 12px #fff9c5, 0 0 0 16px #fc46a8;
  text-align: center;
  margin: 0px 22px;
}

.submit {
  font-size: 30px;
  color: #ffbbeb;
  background-color: #fff;
  border-width: 0px;
  padding: 10px;
  height: 100%;
  -webkit-text-fill-color: #ffc4e4;
  -webkit-text-stroke: 3px #ff2b9d;
  letter-spacing: 3px;
}

.submit:hover {
  background-color: #fcf5ea;
}

.scorePlus {
  flex: 2;
  font-size: 20px;
  margin-left: 15px;
  animation: fade-in-out 2s linear forwards;
}

.incorrect {
  height: 25px;
}

.incorrect h3 {
  margin: 0px;
  text-align: center;
  color: red;
  animation: fade-in-out 1s linear forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
