.body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 70px;
  width: 100%;
  margin-top: 0px;
  text-align: center;
}

.borderStart {
  background-color: #fffeeb;
  box-shadow: inset 0 0 0 6px #fc46a8, inset 0 0 0 18px #fff9c5,
    inset 0 0 0 24px #fc46a8;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 20%;
  text-align: center;
  padding: 25px;
}

.buttonStart {
  display: block;
  color: #fc46a8;
  font-size: 30px;
  width: 100%;
  text-decoration: none;
  padding: 10px 0px;
}

.buttonStart:hover {
  background-color: #e75480;
  color: #fff;
}

.header {
  position: absolute;
  top: 5%;
  right: 5%;
}

.temporary {
  justify-items: center;
  text-align: center;
}
